@import './base.css';

a{
  text-decoration: none;
  transition: 0.4s;
}

body {
  background-image: url('../../public/jj-ying-7JX0-bfiuxQ-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (hover: hover) {

}

